.index.html.swp
.createroom.html.swp
.createroom.html.swn
.createroom.html.swo
.createroom.html.swm
.index.html.swn
.index.html.swo
.index.html.swm
	.index.html.swl
.style.css.swm
.style.css.swo
.style.css.swp
.style.css.swn
.app.js.swn
.app.js.swp
.app.js.swo
.room.html.swp
.roomstyle.css.swn
.roomstyle.css.swo
.roomstyle.css.swp
imgsFigma
index.html.swl
.roomstyle.css.swm
